:root {
    --bg-button: rgba(0, 0, 0, 0.376);
    --border-button: solid 1px #0004;
}

.button {
    font-size: 1.4rem;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
    color: rgb(226, 224, 224);
}

.button:active {
    background-color: rgba(97, 97, 97, 0.315);
}

.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
}

.button.operation {
    background-color: rgba(27, 27, 27, 0.267);
}

.button.operation:active {
    background-color: rgba(97, 97, 97, 0.315);
}